.nav-item {
    color: #ffffff;
    font-size: 35px;
    white-space: nowrap;
    display: table;
    height: 70px;
    width: 100%;
}

.nav-item span {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
}

.active-item {
    background-color: darkslategrey;
    transition: 0.2s all;
}

.nav-logo {
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 10px;
}

.bordered {
    width: 58px;
    height: 58px;
    border: 2px ridge darkgreen;
}