.home {
  max-width: 40rem;
  background-color: white;
  margin: auto;
  text-align: center;
  border: 2px ridge var(--blue-70);
  border-radius: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.home h2 {
  margin-bottom: 0;
  font-family: 'Gravity', 'Times New Roman', serif;
  font-size: 50px;
  margin-bottom: 2px;
}

.home h1 {
  font-family: 'Arvo', 'Times New Roman', serif;
}

.home__profile-pic {
  border-radius: 50%;
  border: 3px ridge #893E2E;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  background-size: cover;
}

.home__headline {
  font-size: 18px;
  margin: 8px;
}

.home hr {
  width: 100%;
  background-color: black;
}
